    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="distribution" content="global">
    <meta name="author" content="Vizzuality">
    <meta name="robots" content="index">
    <meta name="DC.title" content="CartoDB">
    <meta name="geo.region" content="USA">
    <meta name="geo.placename" content="New York">
    <meta name="geo.position" content="40.7143528,-74.0059731">
    <meta name="ICBM" content="40.7143528,-74.0059731">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="og:url" content="http://cartodb.com">
    <meta name="og:site_name" content="CartoDB">
    <meta name="og:title" content="CartoDB">
    <meta name="og:description" content="Map, analyze and build applications with your data">
    <meta name="og:type" content="website">
    <meta name="og:image" content="/assets/layout/tour6-3be21bc9d9070d9a32e258d8c978fcd5.jpg">
    <title>{{ page.title }}</title>
    <link href="{{site.baseurl}}assets/css/front-f7c044e41e0862c7c65c6fe2f5919a2d.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="{{site.baseurl}}assets/css/fonts-9b009d8391ddb15b355c02f001e82da4.css" media="screen" rel="stylesheet" type="text/css" />
    <!--[if gt IE 8]><link href="/assets/fonts_ie-e4b6681a7f6a0cb979f69804b05bd209.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->

    <link rel="shortcut icon" href="{{site.baseurl}}assets/favicon.ico" />
