<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    {% include _head.html %}
  </head>
  <body class="front home academy">
    



<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
})
</script>

<section>
  <div class="content">
    <div class="social">
      <a href="{{site.url}}/" class="twitter-share-button" data-via="cartodb" data-related="cartodb">free online course</a>


      <div class="fb-like" data-send="false"  data-layout="button_count" data-width="96" data-show-faces="true"></div>
    </div>
     {{ content }}
  </div>
</section>


    
{% include _scripts.html %}     
  </body>
</html>
